@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-sidebar-header, .fi-topbar {
    @apply bg-white/30 backdrop-blur-[2px] !border-0;

    nav {
        @apply bg-white/30 backdrop-blur-[2px] !border-0;
    }

    div, .fi-icon-btn-icon {
        @apply !text-gray-800;
    }
}

.fi-sidebar-header {
    .fi-icon-btn-icon {
        color: #fff;
    }
}

.fi-sidebar-group-items {
    @apply border border-gray-300 bg-gray-100 p-2 rounded-xl shadow-inner;

    .fi-sidebar-item {
        a {
            @apply hover:bg-gray-200;
        }
    }
}

#page-container, #page-content, #page-status {
    @apply bg-transparent ring-0 shadow-none;

    & > .fi-section-content-ctn > .fi-section-content {
        @apply !p-0;
    }
}

/* .fi-form {
    @apply border border-gray-300 bg-gray-100 p-2 rounded-xl shadow-inner;
} */

.fi-resource-submissions.fi-resource-edit-record-page {
    .fi-form-actions {
        display: none;
    }
}

.fi-resource-list-records-page.fi-resource-submissions {
    .fi-ta-table {
        tr th:nth-child(2), tr td:nth-child(2) {
            display: none;
        }
    }

    .fi-ta-filter-indicators, .fi-ta-content, .fi-ta-selection-indicator {
        border-top: 0;
    }

    .fi-ta-filter-indicators, .fi-ta-selection-indicator {
        border-bottom: 1px solid #ececed;
    }

    .fi-ta-header-ctn {
        display: none;
    }
}